# Local python virtualenv
.venv/

# Local secrets (do not commit)
.secrets/
.env
.env.local

# ignorer data par défaut
data/**

# python
__pycache__/
*.pyc
*.log
*.tmp

# terraform
.terraform/
*.tfstate
*.tfstate.backup
lambda.zip
out.json
