# Local python virtualenv
.venv/

# Local secrets (do not commit)
.secrets/
.env
.env.local

# ignorer data par défaut
data/**
# garder le dossier metadonnees
!data/metadonnees/
# ignorer tout dans metadonnees...
data/metadonnees/**
# ...sauf stations.json
!data/metadonnees/stations.json

# python
__pycache__/
*.pyc
logs/**
!logs/.gitkeep